<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/logU.css">
    <script src="/js/script.js"></script>
</head>
<body>
<form id="loginForm">
    <h2>Login to our site</h2>

    <div class="input-group">
        <label for="userName">Username (required):</label>
        <input type="text" name="userName" id="userName" placeholder="username" required/>
    </div>
    <div class="input-group">
        <label for="password">Password (required):</label>
        <input type="password" name="password" id="password" placeholder="password" required/>
    </div>
    <div class="input-group">
        <button type="submit" name="submit" id="submit">Submit</button>
    </div>
    <p class="switch">Don't have an account?<a href="/register"> Register</a>
    </p>
</form>

</body>
</html>